@font-face {
    font-family: "montserat";
    src: url("../../public/fonts/Montserrat-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "montserat";
    src: url("../../public/fonts/Montserrat-Regular.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "permament";
    src: url("../../public/fonts/Permament.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "montserat";
    src: url("../../public/fonts/Montserrat-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "montserat";
    src: url("../../public/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "montserat";
    src: url("../../public/fonts/Montserrat-ExtraBold.ttf");
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: montserat, serif;
    font-weight: 300;
    transition: .1s;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #001e42;
}

a:hover {
    filter: brightness(1.1);
}


button {
    transition: .1s;
}

button:hover {
    filter: brightness(0.9);
}

button:active {
    filter: brightness(0.6);
}

section {
    background-color: white;
}

.product-block__content__buttons {
    width: max-content;
    height: min-content;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button_more {
    padding: 7px 15px;
    background-color: #7a7a7a;
    color: white;
    border: 2px solid #7a7a7a;
}

.button_add_cart {
    padding: 7px 15px;
    border: 2px solid #7a7a7a;
    color: #7a7a7a;
    background-color: rgba(0, 0, 0, 0);
}

.button_add_cart:hover {
    background-color: #7a7a7a;
    color: white;
}

.search_container {
    width: auto;
    height: auto;
    padding: 50px 100px;
}

.not_found {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    text-align: center;
}

.not_found h1 {
    font-size: 50px !important;
    margin: 0;
    font-family: permament, sans-serif;
}

.not_found p {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.server_error {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    text-align: center;
}

.server_error h1 {
    font-size: 50px !important;
    margin: 0;
    font-family: permament, sans-serif;
}

.server_error p {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

@media screen and (min-width: 1440px) {
    html {
        display: flex;
        justify-content: center;
        background: radial-gradient(circle at top right, #a5bb93 10%, #839872 20%, transparent),
        radial-gradient(circle at bottom left, #a5bb93 20%, #839872 30%, transparent);
    }

    body {
        max-width: 1440px;
    }
}


@media screen and (max-width: 1440px) {
    * {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 768px) {
    * {
        font-size: 15px !important;
    }

    body h1 {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 425px) {
    * {
        font-size: 10px !important;
    }

    .search_container__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .search_container {
        padding: 10px;
    }
}
